---
layout: default
title: Blobby
---
<style>
      #img {
        display: block;
        margin: 0 auto;
      }
      .page-content {
            margin: 0 80px 0;
      }
    </style>
<script>
function getRandomInt(max) {
  return Math.floor(Math.random() * max)+1;
}
function random(param) {
  let target = getRandomInt(param);
  if (param ==1){
    param="";
  }
  window.location.href= "{{ site.baseurl }}/blobby/".concat(target);
}  
</script>
<section class="post-list">
  {% for post in paginator.posts reversed%}
<center><h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href = "{{ site.baseurl }}/blobby"> &laquo;&laquo; </a>
      <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Prev</a>
    {% else %}
    <span>&laquo;&laquo;</span>
      <span>&laquo; Prev</span>
  
    {% endif %}
    
    <a href="javascript:random({{ paginator.total_pages }})"> Random </a>
  
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | relative_url }}">Next &raquo;</a>
      <a href="{{site.baseurl}}/blobby/{{paginator.total_pages}}">&raquo;&raquo;</a>
    {% else %}
      <span>Next &raquo;</span>
      <span>&raquo;&raquo;</span>
    {% endif %}
  
  </div>
  {% endif %}
  </center>
<div class="article">
    <div class="well">
        <div class="page-content">
            {{ post.excerpt }}
        </div>
    </div>
</div>
{% endfor %}
<center>
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href = "{{ site.baseurl }}/blobby"> &laquo;&laquo; </a>
    <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Prev</a>
  {% else %}
  <span>&laquo;&laquo;</span>
    <span>&laquo; Prev</span>

  {% endif %}
  
  <a href="javascript:random({{ paginator.total_pages }})"> Random </a>

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}">Next &raquo;</a>
    <a href="{{site.baseurl}}/blobby/{{paginator.total_pages}}">&raquo;&raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
    <span>&raquo;&raquo;</span>
  {% endif %}

</div>
{% endif %}
</center>
</section>
